.about {
    width: 80%;
    margin: 0 auto;
}

.about img {
    width: 400px;
    border: 2px solid #b3aa6b;
    border-radius: 8px;
    float: left;
    margin: 0 20px 10px 0;
}

.about p {
    color: #4C5081;
}

@media (max-width: 780) {
    .about {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .image {
        width: 100%;
        margin: 0 auto;
    }
    .bio {
        width: 100%;
        margin: 0 auto;
    }
}