/* * {
    border: 2px dotted red;
} */
/* .contact-page{
    width: auto;
    justify-content: center;
} */
/* .social {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
} */